.ac-wrapper {
    position: relative;
}

.ac-wrapper .ac-head {
    position: relative;
    width: 100%;
    float: left;
    background-color: white;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

}

.ac-wrapper .ac-head:before {
    content: " ";
    clear: both;
    display: block;
}

.ac-wrapper .ac-head .ac-nav {
    position: relative;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    color: #0088ff;
}

.ac-wrapper .ac-head .ac-controls .ac-left {
    float: left;
    content: "<";
}

.ac-wrapper .ac-head .ac-controls .ac-right {
    float: right;
    content: ">";
}

.ac-wrapper .ac-head .ac-controls .ac-date {
    position: relative;
    line-height: 50px;
    float: left;
    height: 60px;
    font-size: 14pt;
    width: calc(100% - 120px);
    text-align: center;
}

.ac-wrapper .ac-head .ac-days {
    position: relative;
    float: left;
    width: 100%;
    height: 25px;
}

.ac-wrapper .ac-head .ac-days .ac-day {
    position: relative;
    font-size: 10pt;
    text-align: center;
    line-height: 25px;
    float: left;
    color: #0088ff;
    font-weight: bold;
}

.ac-wrapper .ac-head .ac-days .ac-day {
    width: 14.285714%;
}

.ac-wrapper .ac-head .ac-days .ac-day:last-of-type {
    width: 14.285716%
}


.ac-wrapper .ac-body {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.ac-wrapper .ac-body:before {
    content: " ";
    clear: both;
    display: block;
}

.ac-wrapper .ac-body .ac-week {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.ac-wrapper .ac-body .ac-week:before {
    content: " ";
    clear: both;
    display: block;
}

.ac-wrapper .ac-body .ac-day {
    position: relative;
    font-size: 12pt;
    float: left;
    height: 75px;
    cursor: pointer;
    margin-top: 1px;
    background-color: white;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.ac-wrapper .ac-body .ac-day {
    overflow: hidden;
    width: 14.285714%;
}

.ac-wrapper .ac-body .active.ac-day {
    color: #0088ff;
    border-bottom: 3px solid #0088ff;
}

.ac-wrapper .ac-body .ac-day:last-of-type {
    width: 14.285716%
}


.ac-wrapper .ac-body .ac-day .number {
    font-weight: bold;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;
}

.ac-wrapper .ac-body .ac-day:hover {
    color: #0088ff;
    background-color: #f5f5f5;
}

.ac-wrapper .ac-body .gray.ac-day {
    background-color: #f5f5f5;
    color: #888;
}

.ac-wrapper .ac-body .booked.ac-day .number {
    background-color: rgba(204, 0, 0, 0.6);
    color: white;
}

.ac-wrapper .ac-body .reserved.ac-day .number {
    background-color: rgba(255, 165, 0, 0.75);
    color: white;
}

.ac-wrapper .ac-body .unavailable.ac-day .number {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.ac-wrapper .ac-body .ac-day .price {
    color: #888;
    margin-top: 10px;
    text-align: center;
}

.ac-wrapper .ac-body .ac-info {
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    margin-top: 1px;
    background-color: white;
    display: none;
}